- name: tweaks | Remove normal motd
  ansible.builtin.file:
    path: /etc/motd
    state: absent
  tags: tweaks

- name: tweaks | Remove neofetch config directory
  ansible.builtin.shell: rm -rf /etc/neofetch
  tags:
    - skip_ansible_lint
    - tweaks

- name: Remove neofetch package
  ansible.builtin.apt:
    name: neofetch
    state: absent
    purge: true
  tags: tweaks

- name: Create temporary directory
  ansible.builtin.tempfile:
    state: directory
    prefix: fastfetch
  register: fastfetch_tempdir
  tags: tweaks

- name: Download latest fastfetch
  ansible.builtin.get_url:
    url: https://nightly.link/fastfetch-cli/fastfetch/workflows/ci/dev/fastfetch-linux-amd64.zip
    dest: "{{ fastfetch_tempdir.path }}/fastfetch.zip"
  tags: tweaks

- name: Unpack fastfetch
  ansible.builtin.unarchive:
    src: "{{ fastfetch_tempdir.path }}/fastfetch.zip"
    dest: "{{ fastfetch_tempdir.path }}"
    remote_src: true
    mode: "0755"
  tags: tweaks

- name: Install fastfetch-linux-amd64.deb
  ansible.builtin.apt:
    deb: "{{ fastfetch_tempdir.path }}/fastfetch-linux-amd64.deb"
    state: present
  tags: tweaks

- name: Install fastfetch config directory
  ansible.builtin.file:
    path: /opt/fastfetch
    state: directory
  tags: tweaks

- name: tweaks | Configure fastfetch
  ansible.builtin.template:
    src: fastfetch.jsonc.j2
    dest: /opt/fastfetch/fastfetch.jsonc
  tags: tweaks

- name: tweaks | Create motd script
  ansible.builtin.template:
    src: motd.sh.j2
    dest: /etc/profile.d/motd.sh
    mode: "0755"
  tags: tweaks
