#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}
ADMIN_TOKEN={{ vaultwarden_admin_token }}
SIGNUPS_ALLOWED={{ vaultwarden_signup }}
INVITATIONS_ALLOWED={{ vaultwarden_invitations_allowed }}
SHOW_PASSWORD_HINT={{ vaultwarden_password_hint }}
DISABLE_ADMIN_TOKEN={{ vaultwarden_disable_admin_token }}
{% if not vaultwarden_smtp_host == "" %}
SMTP_HOST={{ vaultwarden_smtp_host }}
SMTP_FROM={{ vaultwarden_smtp_from }}
SMTP_PORT={{ vaultwarden_smtp_port }}
SMTP_SSL={{ vaultwarden_smtp_ssl }}
SMTP_SECURITY={{ vaultwarden_smtp_security }}
SMTP_USERNAME={{ vaultwarden_smtp_username }}
SMTP_PASSWORD={{ vaultwarden_smtp_password }}
{% endif %}
{% for key, value in vaultwarden_env_extra.items() %}
{{ key }}={{ value }}
{% endfor %}
