#jinja2: lstrip_blocks: True, trim_blocks: True
# {{ ansible_managed }}
[unifi]
enabled = true
port = https
filter = unifi
logpath = {{ fail2ban_unifi_logfile }}
maxretry = 4
bantime = 3600
findtime = 900
action = iptables-multiport[name="unifi", port="443"]
