#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}
[Unit]
Description=Certbot Exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ certbot_exporter_user }}
Group={{ certbot_exporter_group }}
ExecStart={{ certbot_exporter_base_folder }}/node-cert-exporter-linux-amd64 --path="{{ certbot_exporter_certificate_path }}" --listen {{ certbot_exporter_listen_address }}:9117
Restart=always

[Install]
WantedBy=multi-user.target
