    location ~* \.(?:jpg|jpeg|gif|png|ico|xml)$ {
      access_log off;
      log_not_found off;
      expires 5m;
      add_header Cache-Control "public";
    }

    location ~ /\. {
      access_log        off;
      log_not_found     off;
      deny              all;
    }

    location ~* \.(?:css|js)$ {
      access_log        off;
      log_not_found     off;
      add_header        Cache-Control "no-cache, public, must-revalidate, proxy-revalidate";
    }