#jinja2: lstrip_blocks: "True", trim_blocks: "True"
# {{ ansible_managed }}
auth    required     pam_ldap.so ignore_authinfo_unavail ignore_unknown_user
account required     pam_ldap.so ignore_authinfo_unavail ignore_unknown_user